global:
  resolve_timeout: 5m

route:
  receiver: telegram
  group_by: ["alertname", "job", "instance"]
  group_wait: 10s
  group_interval: 1m
  repeat_interval: 4h

receivers:
  - name: telegram
    webhook_configs:
      - url: http://telegram-webhook:8080/alertmanager
        send_resolved: true